MoneyHeist 1.0

NUM_PLAYERS			4
NUM_ROUNDS			200
BOARD_ROWS			60
BOARD_COLS			60

INITIAL_SOLDIERS_PER_CLAN       20
INITIAL_SOLDIERS_POISONS        1
SOLDIER_MAX_POISONS             5
POINTS_FOR_KILLING_SOLDIER      10

PROFESSOR_MAX_HEALTH            100
INITIAL_PROFESSOR_HEALTH        100
PROFESSOR_HEALTH_DECREASE       20
POINTS_FOR_KILLING_PROFESSOR    50
PROFESSOR_ROUNDS_REBIRTH        40

NUM_MONEY                       20
MIN_MONEY_VALUE                 1
MAX_MONEY_VALUE                 20

NUM_HEALTH_KITS                 8
HEALTH_KIT_VALUE                1

NUM_POISON_KITS                20
POISON_KIT_VALUE                1

NUM_SAFETY_BOXES                6
GOLD_VALUE                    200
SIZE_HINTS_PER_BOX             15

RANDOM
